**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.env.*
**/.editorconfig
**/dist
**/lib
**/*.pem
**/secrets
Dockerfile
Dockerfile.worker
docker-compose*.yml
